*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}


body{
  min-height: 100vh;
  background: url('laptop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  z-index: 9999;
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

  .kleine-logo{
  height: 55px;
  width: 150px;
  }


iframe{
    display: block;
    margin: auto;
   height: 350px;
   width: 100%;
}

footer{
  display: block;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255); 
    position: absolute;
    right: 0;
    left: 0;
}
.footer-left {
  text-align: center;
    margin-bottom: 10px;
}

.footer-right {
  text-align: center;
    margin-bottom: 10px;
 
}

div.footer-content{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;
    }

    div.footer-content p{
      max-width: 700px;
      color: rgb(255, 255, 255);
      opacity: 0.7;
      margin: 10px 0px;
      cursor: pointer;
      transition: 0.5s;
      }

      div.footer-content p:hover{
        opacity: 1;
    }
    
    .footer-bottom p{
        color: white;
        text-align: center;
        padding: 10px 0;
        background-color: black;
        right: 0;
        left: 0;
        bottom: 0;
    }
    
    .text-block1{
      text-align: center;
      width: 100%;
      margin: 10px;
    }
    .text-block2{
      display: block;
      text-align: center;
      width: 100%;
      margin: 10px;
    }

    hr{
     border: 3px solid;
     margin-left: auto;
     margin-right: auto;
     width: 70%;
    }

    .price-list {
      display: flex;
      flex-wrap: wrap;
    }
    
    .price-item {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      width: 200px;
      margin: 10px;
      padding: 10px;
      border: 2px solid #000000;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .btn{
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      font-weight: bold;
      background-color: rgb(247, 211, 52);
      width: 100px;
      padding: 12px;
      text-align: center;
      text-decoration: wavy;
      text-transform: uppercase;
      color:rgb(190, 157, 8);
      border-radius: 5px;
      cursor:pointer;
      box-shadow: 0 0 10px;
      -webkit-transition-property: box-shadow, transform;
      transition-property: box-shadow, transform;
      -webkit-animation-delay: 1s;
    }
    .product-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .product {
      width: calc(50% - 10px);
      margin-bottom: 20px;
      text-align: center;
    }
    
    .centered {
      margin-left: auto;
      margin-right: auto;
    }
    
    .product img {
      max-width: 100%;
      height: auto;
    }
    
    .product-info {
      margin-top: 5px;
    }

    .product:hover img {
      opacity: 0.8;
    }